{{yield}}
<button
  type="button"
  class="border rounded shadow w-full p-3 flex {{if this.isSelected ' bg-blue-700 shadow-2xl'}}"
  {{on "click" (fn @setStaffEvent @staff)}}
>
  <div class="flex items-center mr-4">
    <img
      class="w-16 rounded-full border"
      src={{@staff.img}}
      alt="Service performed with anyone"
    >
  </div>
  <div class="{{if @staff.description 'max-w-xs' 'w-full'}}{{if this.isSelected ' text-white'}}">
    <h4 class="text-center font-semibold text-lg mb-3">
      {{concat @staff.firstName ' ' @staff.lastName}}
    </h4>
    <p class="font-light text-sm">
      {{@staff.description}}
    </p>
  </div>
</button>