<h2 class="mb-16 text-xl font-semibold text-center">
  Select Staff
</h2>

<div class="flex mx-auto sm:grid sm:gap-5 sm:grid-cols-2 md:w-desktop">
  <YourAppt
    @apptCards={{this.model.apptCards}}
    @staff={{this.staff}}
    @showStaff={{this.showStaff}}
    @selectedAppt={{this.selectedAppt}}
    @isGroup={{false}}
    @toggleShowStaff={{this.toggleShowStaff}}
  />
  <div>
    {{#animated-if this.showStaff use=this.transition duration=1000}}
      <div class="absolute inset-y-0 left-0 right-0 z-50 mt-40 overflow-y-scroll bg-white shadow grid gap-4 sm:relative sm:bg-transparent sm:shadow-none sm:mt-0">
        <StaffList
          @staffList={{this.model.staff}}
          @selectedAppt={{this.selectedAppt}}
          @setStaffEvent={{this.setStaff}}
        />
      </div>
    {{/animated-if}}
  </div>
</div>