<h2 class="text-lg font-semibold text-center mb-16">Select Staff</h2>
<div class="flex mx-auto container h-full{{this.getMobileClasses}}">
  <div class="mr-10 bg-white appt-container">
    <div class="">
      <div class="border-b flex justify-between pb-1">
        <h3 class="uppercase font-semibold">Your Appointment</h3>
        <span class="text-sm text-gray-600">1 hr 15 min</span>
      </div>
      <div class="mt-4 grid gap-3">
        {{#each this.model.apptCards as |appt|}}
          <ApptCard
            @appt={{appt}}
            @staffList={{this.model.staff}}
            @showStaff={{this.showStaff}}
            @selectedAppt={{this.selectedAppt}}
            @toggleShowStaffEvent={{this.toggleShowStaff}}
          />
        {{/each}}
      </div>
    </div>
  </div>
  <div class="right-side">
    {{#animated-if this.showStaff use=this.transition duration=1000}}

      <div class="max-w-2xl grid gap-4 bg-white right-side-container">
        <StaffList
          @staffList={{this.model.staff}}
          @selectedAppt={{this.selectedAppt}}
          @setStaffEvent={{this.setStaff}}
        />
      </div>

    {{else}}
      <div class="flex items-center right-side-container">
        <h5>Choose a service on the left to select a staff member</h5>
      </div>
    {{/animated-if}}
  </div>
</div>